<h2 class="place-link">Forecast for <%= link_to @location.display_name, location_path(@location) %></h2>
<p class="nav-link"> <%= link_to "Front Page", :root %> | <%= link_to "Location Page", location_path(@location) %> </p>

<table>
    <tr>
        <th>Date</th>
        <th>High</th>
        <th>Low</th>
    </tr>
  <% @forecast.latest.each do |forecast_day| %>
    <tr>
        <td> <%= forecast_day[:date] %> </td>
        <td> <%= forecast_day[:high] %> <%= temperature_units %> </td>
        <td> <%= forecast_day[:low] %> <%= temperature_units %> </td>
    </tr>
  <% end %>
</table>

<p>
    Last updated: <%= @forecast.updated_at %> <br/>
    Next auto update after: <%= next_auto_update_after %>
</p>
